<% if @errors %>
  <h3>Errors</h3>
  <% @errors.each do |error| %>
    <h4>- <%= error %></h4>
  <% end %>
<% end %>
<p>there is no task list for <%= @date %></p>
<p>here is a form to create a list</p>
<%= form_tag "/days", method: :post do %>
  <p>start time: <input type="time" name="start_time"></p>
  <p>end time: <input type="time" name="end_time"></p>
  <input type="hidden" name="date" value="<%= params[:date] %>">
  <input type="submit" value="submit">
<% end %>