<% st = Time.parse(@user_preferences.default_start_time).strftime("%l:%M %p")  %>
<% et = Time.parse(@user_preferences.default_end_time).strftime("%l:%M %p")  %>
<div class="section default-bg text-muted">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <h1>My Preferences</h1>
      <br>
      <h3>Default Day Start Time:</h3> 
      <h2><%= st %></h2>
      <h3>Default Day End Time: </h3>
      <h2><%= et %></h2>
      <h3>Break Time Between Tasks:</h3>
      <h2><%= @user_preferences.time_between %> minutes</h2>
      <a href="/user-preferences/<%= current_user.id %>/edit"><button type="submit" class="btn btn-dark btn-lg">Edit</button></a>
    </div>
  </div>
</div>
