<div class="section default-bg text-muted">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <h3>Hey <%= current_user.name %>,</h3>
      <h4>Please complete the form below to ensure an accurate experience.</h4>
    </div>
  </div>
  <% if @errors %>
    <h3>Errors</h3>
    <% @errors.each do |error| %>
      <h4>- <%= error %></h4>
    <% end %>
  <% end %>
  <%= form_tag "/user-preferences", method: :post do  %>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="form-group has-success has-feedback">
          <label class="control-label" for="inputSuccess5">Set Default Day Start Time</label>
          <input type="time" name="default_st" class="form-control" id="inputSuccess5">
        </div>
      </div>
      <div class="col-md-7"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="form-group has-success has-feedback">
          <label class="control-label" for="inputSuccess5">Set Default Day End Time</label>
          <input type="time" name="default_et" class="form-control" id="inputSuccess5">
        </div>
      </div>
      <div class="col-md-7"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="form-group has-success has-feedback">
          <label class="control-label" for="inputSuccess5">Task Completion Speed</label>
          <select class="form-control" name="speed">
            <option></option>
            <option>fast</option>
            <option>regular</option>
            <option>slow</option>
          </select>
        </div>
      </div>
      <div class="col-md-7"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="form-group has-success has-feedback">
          <label class="control-label" for="inputSuccess5">Break Time Between Tasks</label>
          <input type="number" name="time_between" class="form-control" id="inputSuccess5" placeholder="minutes">
        </div>
      </div>
      <div class="col-md-7"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <button type="submit" class="btn btn-dark btn-lg">Save</button>
      </div>
    </div>
  <% end %>
</div>
