<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="en" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html dir="ltr" lang="en">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <!-- <title>The Project | Sliders Text Rotator</title> -->
    <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    

    <!-- Web Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="/fonts/fontello/css/fontello.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
    <link href="/plugins/rs-plugin-5/css/layers.css" rel="stylesheet">
    <link href="/plugins/rs-plugin-5/css/navigation.css" rel="stylesheet">
    <link href="/css/animations.css" rel="stylesheet">
    <link href="/plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/plugins/owlcarousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/plugins/hover/hover-min.css" rel="stylesheet">    
    <link href="/plugins/morphext/morphext.css" rel="stylesheet">
    <script type="text/javascript" src="/plugins/rs-plugin-5/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/plugins/rs-plugin-5/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/plugins/rs-plugin-5/js/extensions/revolution.extension.kenburn.min.js"></script>
    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="/css/style.css" rel="stylesheet" >
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="/css/typography-default.css" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="/css/skins/light_blue.css" rel="stylesheet">
    

    <!-- Custom css --> 
    <link href="/css/custom.css" rel="stylesheet">
  </head>

  <!-- body classes:  -->
  <!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
  <!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
  <!-- "transparent-header": makes the header transparent and pulls the banner to top -->
  <!-- "gradient-background-header": applies gradient background to header -->
  <!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
  <body class="no-trans  transparent-header  ">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
    
    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
    
      <!-- header-container start -->
      <div class="header-container">
        <header class="header  fixed   dark clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <!-- header-first start -->
                <!-- ================ -->
                <div class="header-first clearfix">
                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="index.html"><img src="/images/timely_logo.png"></a>

                  </div>

                  <!-- name-and-slogan -->
                  <div class="site-slogan">
                    Your Time Management App
                  </div>

                </div>
                <!-- header-first end -->

              </div>
              <div class="col-md-4">
          
                <!-- header-second start -->
                <!-- ================ -->
                <div class="header-second clearfix">
                  
                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                <!-- ================ -->
                <div class="main-navigation  animated with-dropdown-buttons">

                  <!-- navbar start -->
                  <!-- ================ -->
                  <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">

                      <!-- Toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <!-- main-menu -->
                        <ul class="nav navbar-nav ">
                          <li>
                            <nav class="navbar navbar-default" role="navigation">
                              <ul class="nav navbar-nav ">
                                <li>
                                  <a href="/">About</a>    
                                </li>
                              </ul>
                            </nav>
                          </li>
                          <li>
                            <nav class="navbar navbar-default" role="navigation">
                              <ul class="nav navbar-nav ">
                                <li>
                                  <% if current_user %>
                                    <a href="/logout">Logout</a> 
                                  <% else %>   
                                    <a href="/login">Login</a>
                                  <% end %>
                                </li>
                              </ul>
                            </nav>
                          </li>
                        </ul>
                        <!-- main-menu end -->
                      </div>
                    </div>
                  </nav>
                  <!-- navbar end -->
                </div>
                <!-- main-navigation end -->
              </div>
                <!-- header-second end -->
          
            </div>
          </div>
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->
    
      <!-- banner start -->
      <!-- ================ -->
      <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">
          
          <!-- slider revolution start -->
          <!-- ================ -->
          <div class="slider-revolution-5-container">
            <div id="slider-banner-fullscreen-hero" class="slider-banner-fullscreen-hero rev_slider" data-version="5.0">
              <ul class="slides">
                <!-- slide 1 start -->
                <!-- ================ -->
                <li class="text-center" data-transition="fade" data-slotamount="1" data-masterspeed="500" data-saveperformance="off">
                
                <!-- main image -->
                <img src="/images/shutterstock_142959802.jpg" alt="slidebg1" data-bgposition="center bottom" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                
                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_in="opacity:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="opacity:0;s:600;s:300;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="center"
                  data-y="110"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <span class="logo-font"><span class="text-default">Timely</span></span>
                </div>  

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme"
                  data-x="center"
                  data-y="160"
                  data-start="100"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;">
                    <div class="separator light"></div>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption large_white"
                  data-x="center"
                  data-y="190"
                  data-start="200"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <span class="text-rotator" data-rotator-animation-effect="fadeIn">Organize your day accurately, Manage your schedule wisely</span> 
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption large_white tp-resizeme"
                  data-x="center"
                  data-y="230"
                  data-start="300"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;">
                    <div class="separator light"></div>
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption medium_white"
                  data-x="center"
                  data-y="270"
                  data-start="400"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeInOut;"data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Timely is a time management app that tracks the <br> duration of the user’s activities, thus enabling the <br>user to accurately set up a daily schedule. 
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption"
                  data-x="center"
                  data-y="bottom"
                  data-voffset="100"
                  data-start="500"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                </div>                
                </li>
                <!-- slide 1 end -->

              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

      </div>
      <!-- banner end -->
      
      <div id="page-start"></div>

      <!-- section start -->
      <!-- ================ -->
      <section class="light-gray-bg pv-30 clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center">About <strong>Timely</strong></h2>
              <div class="separator"></div>
              <p class="large text-center">Timely is a time management app that tracks the duration of the user’s activities, thus enabling the user to accurately set up a daily schedule. Users can customize preprogrammed tasks, add new tasks, create an editable to-do list for a specific date and ultimately complete tasks sorted by importance or specific scheduled times in a timely fashion. 
            </div>
          </div>
          <div class="row">
            <!-- accordion start -->
            <h2 class="text-center">App <strong>Guide</strong></h2>
            <div class="separator"></div>
            <div class="col-md-8 col-md-offset-2">
              <div class="panel-group collapse-style-2" id="accordion-2">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2">
                        <i class="glyphicon glyphicon-pushpin pr-10"></i>Setting Up Task Durations
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne-2" class="panel-collapse collapse in">
                    <div class="panel-body">
                      When signing up for the Timely App, the user selects the speed of how long it generally takes them to complete tasks. Upon submitting the form, the user lands on the Tasks page where each task duration can be customized if necessary.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2" class="collapsed">
                        <i class="glyphicon glyphicon-pushpin pr-10"></i>Setting Up A Default Day Start And End Time
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo-2" class="panel-collapse collapse">
                    <div class="panel-body">
                      Upon signing up, the user enters a default time when they would like to start and end the day. It can always be updated in the preferences menu or customized on a specific date.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-2" class="collapsed">
                        <i class="glyphicon glyphicon-pushpin pr-10"></i>Break Time Between Tasks
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree-2" class="panel-collapse collapse">
                    <div class="panel-body">
                      In the preferences menu, the user has the option to select how much time they want between tasks.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseFour-2" class="collapsed">
                        <i class="glyphicon glyphicon-pushpin pr-10"></i>Adding New Tasks
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour-2" class="panel-collapse collapse">
                    <div class="panel-body">
                      In the Tasks page, the user can add new tasks and select the category it belongs in. The user can also delete tasks or edit preprogrammed tasks. New tasks can only be added on the Tasks page, not on the list which appears when selecting tasks to be completed on a specific date.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseFive-2" class="collapsed">
                        <i class="glyphicon glyphicon-pushpin pr-10"></i>How To Set Up Your Day’s Schedule
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive-2" class="panel-collapse collapse">
                    <div class="panel-body">
                      On the Calendar page, the user selects a calendar date. The default start and end time come up on the page along with an option to add tasks. Upon selecting that option, all the tasks saved in Tasks page appear, and the user selects the icons of all the tasks that need to be completed on that day and then submits the form. The user then has the option to customize each task if necessary, by entering a start/ end time for the task, selecting level of importance, entering a destination address and editing the duration for that day specifically. The user then submits the edited task list and gets the day’s schedule.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseSix-2" class="collapsed">
                        <i class="glyphicon glyphicon-pushpin pr-10"></i>The Organized Schedule
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSix-2" class="panel-collapse collapse">
                    <div class="panel-body">
                      Once the user sets up a specific date, the schedule will be displayed on that date’s page in the calendar. The schedule will also show up on the home page on the day it is scheduled for. The tasks are displayed with a start time next to each one and are sorted and marked in order of importance.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseSeven-2" class="collapsed">
                        <i class="glyphicon glyphicon-pushpin pr-10"></i>Including Travel Time In A Task
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSeven-2" class="panel-collapse collapse">
                    <div class="panel-body">
                      When editing the tasks, the user can add a departure location and a destination for the task and then select a travel method. The app will then calculate when the user should depart to get to the destination in time, and how much time the user needs to get home, after completing the task.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseEight-2" class="collapsed">
                        <i class="glyphicon glyphicon-pushpin pr-10"></i>Calculating The Accurate Task Duration
                      </a>
                    </h4>
                  </div>
                  <div id="collapseEight-2" class="panel-collapse collapse">
                    <div class="panel-body">
                      While the user completes tasks throughout the day, they can select the task they are currently doing and click on the timer button to time it. Upon saving the time, the app averages the amount of minutes with the time previously saved for this task to calculate the most accurate time for future selection of this task.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseNine-2" class="collapsed">
                        <i class="glyphicon glyphicon-pushpin pr-10"></i>Completing Tasks
                      </a>
                    </h4>
                  </div>
                  <div id="collapseNine-2" class="panel-collapse collapse">
                    <div class="panel-body">
                      After saving the timed minutes for the completed task, the user clicks on Done and the task gets removed from the list. The user has the option to click on the Show All button which will display all tasks, included the completed ones which will have a line-through to indicate the status.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTen-2" class="collapsed">
                        <i class="glyphicon glyphicon-pushpin pr-10"></i>Task Importance
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTen-2" class="panel-collapse collapse">
                    <div class="panel-body">
                      The level of importance of each task is indicated in the organized schedule by a colored tag. Red tags are the tasks that are most urgent, yellow tags are right behind and the green tasks are the least important tags
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- accordion end -->
          </div>
        </div>
        
             
      </section>
      <!-- section end -->

      
     <footer id="footer" class="clearfix dark">

        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer">
          <div class="container">
            <div class="footer-inner">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div class="footer-content text-center padding-ver-clear">
                    <div class="logo-footer"><img id="logo-footer" class="center-block" src="/images/timely_logo.png" alt=""></div>
                    <p>Timely is a time management app that tracks the duration of the user’s activities, thus enabling the user to accurately set up a daily schedule. <br>Users can customize preprogrammed tasks, add new tasks, create an editable to-do list for a specific date and ultimately complete tasks sorted by importance or specific scheduled times in a timely fashion.</p>
                    <ul class="list-inline mb-20">
                      <li><a href="mailto:dovybluming@gmail.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-5"></i>dovybluming@gmail.com</a></li>
                    </ul>
                    <ul class="social-links circle animated-effect-1 margin-clear">
                      <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/dov-bluming-270ba8140/"><i class="fa fa-linkedin"></i></a></li>
                      <li class="facebook"><a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                      <li class="twitter"><a target="_blank" href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                      <li class="googleplus"><a target="_blank" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <div class="separator"></div>
                    <p class="text-center margin-clear">Copyright © 2017 Timely by <a target="_blank" href="https://www.linkedin.com/in/dov-bluming-270ba8140/">Dov Bluming </a>. All Rights Reserved</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .footer end -->

      </footer>
      <!-- footer end -->
      
    </div>
    <!-- page-wrapper end -->

    <!-- JavaScript files placed at the end of the document so the pages load faster -->
    <!-- ================================================== -->
    <!-- Jquery and Bootstap core js files -->
    <script type="text/javascript" src="/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr javascript -->
    <script type="text/javascript" src="/plugins/modernizr.js"></script>
    <script type="text/javascript" src="/plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="/plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <!-- Isotope javascript -->
    <script type="text/javascript" src="/plugins/isotope/isotope.pkgd.min.js"></script>
    <!-- Magnific Popup javascript -->
    <script type="text/javascript" src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Appear javascript -->
    <script type="text/javascript" src="/plugins/waypoints/jquery.waypoints.min.js"></script>
    <!-- Count To javascript -->
    <script type="text/javascript" src="/plugins/jquery.countTo.js"></script>
    <!-- Parallax javascript -->
    <script src="/plugins/jquery.parallax-1.1.3.js"></script>
    <!-- Contact form -->
    <script src="/plugins/jquery.validate.js"></script>
    <!-- Morphext -->
    <script type="text/javascript" src="/plugins/morphext/morphext.min.js"></script>
    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="/plugins/owlcarousel2/owl.carousel.min.js"></script>
    <!-- SmoothScroll javascript -->
    <script type="text/javascript" src="/plugins/jquery.browser.js"></script>
    <script type="text/javascript" src="/plugins/SmoothScroll.js"></script>
    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="/js/template.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="/js/custom.js"></script>

  </body>
</html>
